@using InvoicingSystemMVC.Models.Entities
@model IEnumerable<InvoicingSystemMVC.Models.Entities.Cliente>
<h1>Hello from CLIENTES</h1>
<div>
    <a class="btn btn-primary m-2" asp-area="" asp-controller="Cliente" asp-action="CrearCliente">Nuevo cliente</a>
    @if (Model == null)
    {
        <h1>Agrega un nuevo cliente</h1>
    }
    else
    {
    @foreach (Cliente cliente in Model)
    {
        <div class="card m-2">
            <div class="card-header">
                @cliente.RFC
            </div>
            <div class="card-body">
                <h5 class="card-title">@cliente.RazonSocial</h5>
                <p class="card-text">@cliente.RegimenFiscal</p>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary m-2" asp-area="" asp-controller="Cliente" asp-action="EditarCliente" asp-route-RFC="@cliente.RFC">Editar</a>
                <a class="btn btn-primary m-2" asp-area="" asp-controller="Cliente" asp-action="Eliminar" asp-route-RFC="@cliente.RFC">Eliminar</a>
            </div>
        </div>
    }
    }
</div>

